/*
Colors: 
#E54E79;
#E56385;
#00B2A9;
#75726C;
#EDE9E2
*/
body { 
/*Limpiando elementos por defecto*/
	margin: 0;
	padding: 0;
	clear: both;
	list-style: none;

	/*estilos tipografia*/
	font-family: Gotham SSm A,Gotham SSm B,HelveticaNeue,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-size: 1em;
}

/*Nav*/
nav {
	background-color: #E56385;
	padding: 10px;
	width: 100%;
	height: 50px;
	position: fixed;
 	top: 0;
}
nav img {
	width: 60px;
	position: absolute;
	margin-left: 185px;
}
nav ul{
	margin-right: 180px;
 	position: absolute;
	right: 0;
}
nav ul li {
	list-style: none;
	display: inline-block;
}
nav a{
	text-decoration: none;
	color: #EDE9E2;
	margin-right: 25px;
}

nav a:hover {
	background-color: #E54E79;
	padding: 23px 10px;
	box-sizing: content-box;
}

/*header*/
header {
	background-image: url(../img/cropped-Lyft-Promo-Codes-car-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	height: 700px;
}
.formulario {
	height: 400px;
	width: 500px;
	float: right;
	margin-top: 200px;
	background-color: #EDE9E2;
	padding: 60px 40px;
	box-sizing: border-box;
}

.formulario h4{
	color: #00B2A9;
	font-size: 1.8em;
	margin: 0;
}
.formulario .sing{
	color: #75726C;
	font-size: 0.9em;
	margin-top: 15px;
}
.formulario input {
	background-color: #EDE9E2;
	width: 95%;
	height: 30px;
	margin-top: 10px;
    border: 0;
    border-bottom: 1px solid #73705F;
    outline: 0;
}
/*boton*/
#sign-up{
	color: #EDE9E2;
	font-size: 0.9em;
	background-color: #E56385;
	padding: 13px 30px;
	margin-top: 20px;

	
	/*borde*/
	border: 0;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#sign-up i {
	font-size: 1.3em;
}

.formulario p {
	margin-top: 30px;
	font-size: 0.9em;
	line-height: 33px
}

/*SECCTION PLAY WITH LYFT*/
#play {
	height: 520px;
	background-color: #00B2A9;
	text-align: center;
	padding: 80px 0;
	box-sizing: border-box;
}
#play h1{
	color: #75726C;
	background-color: #EDE9E2;
	margin-top: 0;
	font-size: 3em;
	padding: 18px;
}

/*CAJITA*/
.cordenadas{
	background-color: #EDE9E2;
	width: 70%;
	height: 270px;
	margin: 0 auto;
	padding: 20px 10px;
	box-sizing: border-box;
}
.auto{
	display: inline-block;
}
.auto input {
	background-color: #EDE9E2;
	width: 370px;
	height: 40px;
	margin-top: 50px;
	border: 0;
    border-bottom: 1px solid #75726C;
    outline: 0;
}
.auto i{
	font-size: 2em;
	color: #75726C;
	margin-right: 10px;
}
/*boton*/
#start{
	background-color: #00B2A9;
	padding: 20px 50px;
	margin-top: 40px;
	text-decoration: none;
	color: #EDE9E2;
	width: 95%;
	font-size: 1em;

	/*borde*/
	border: 0;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	/*sombra*/
	-webkit-box-shadow: -2px 15px 26px -22px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 15px 26px -22px rgba(0,0,0,0.75);
	box-shadow: -2px 15px 26px -22px rgba(0,0,0,0.75);
}

/*FOOTER*/
.menu-footer {
	background-color: #75726C;
}
.menu-bottom {
	padding-top: 30px;
	height: 150px;
	color: #EDE9E2;
	margin: 0 auto;
	width: 70%;
}

.izq {
	float: left;
}
.menu-bottom h3{
	font-size: 1.7em;
	font-weight: normal;
	margin: 0;
}
.izq p {
	margin-top: 15px;
}
.menu-pie{
	float: right;
	margin-right: 200px;
}
.menu-pie ul{
	padding: 0;
}
.menu-pie ul li{
	list-style: none;
}
.menu-pie ul li a {
	text-decoration: none;
	color: #EDE9E2;
}


/*FOOTER 2*/
.pie {
	background-color: #63615C;
}
.content {
	padding: 20px;
	height: 20px;
	color: #EDE9E2;
	margin: 0 auto;
	width: 70%;
}
.content p {
	margin: 0;
}
.lateral {
	float: right;
}